@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Sports Authenticated</h1>
    <p>Here you can find just about every type of autograph you can think of.</p>
    <p>Come on in and explore who knows you may leave with something you love.</p>
</div>
